version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    container_name: devops-pucrs-ana-cagliari
    restart: unless-stopped
